/.github               export-ignore
/dev                   export-ignore
/tests                 export-ignore
/.editorconfig         export-ignore
/.gitmodules           export-ignore
/.php-cs-fixer.php     export-ignore
/composer.lock         export-ignore
/gen                   export-ignore
/package.json          export-ignore
/phpbench.json         export-ignore
/phpunit.xml.dist      export-ignore
/psalm.xml             export-ignore
/yarn.lock             export-ignore
