parameters:
    level: 8
    paths:
        - dev
        - locales
        - src
        - tests
    ignoreErrors:
        -
            message: '#^Match expression does not handle remaining value: string$#'
            count: 1
            path: src/Exceptions/ParserException.php
        -
            message: '#^Match expression does not handle remaining value: string$#'
            count: 1
            path: src/Formatters/Number/NumberFormatter.php

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
