name: CI

on:
  pull_request:
  push:
    branches-ignore: [master]

env:
  PHP_LOWEST: '8.3'
  PHP_LATEST: '8.4'

jobs:
  tests:
    name: Tests / ${{ matrix.php }} PHP, ${{ matrix.stability }}

    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['lowest', 'latest']
        stability: [prefer-lowest, prefer-stable]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php == 'lowest' && env.PHP_LOWEST || env.PHP_LATEST }}
          coverage: none

      - name: Get Composer cache directory path
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ hashFiles('composer.lock') }}
          restore-keys: composer-

      - name: Node assertions cache
        uses: actions/cache@v4
        with:
          path: .cache/node-assertions
          key: node-assertions-${{ github.sha }}
          restore-keys: node-assertions-

      - name: Install Composer dependencies
        run: composer update --${{ matrix.stability }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v5

      - name: Install npm dependencies
        run: pnpm install

      - name: Execute tests
        run: vendor/bin/phpunit

  types:
    name: Types / ${{ matrix.php }} PHP

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - php: lowest
            stability: prefer-lowest
          - php: latest
            stability: prefer-stable

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php == 'lowest' && env.PHP_LOWEST || env.PHP_LATEST }}
          coverage: none

      - name: Get Composer cache directory path
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ hashFiles('composer.lock') }}
          restore-keys: composer-

      - name: PHPStan cache
        uses: actions/cache@v4
        with:
          path: .cache/phpstan
          key: phpstan-${{ github.sha }}
          restore-keys: phpstan-

      - name: Install Composer dependencies
        run: composer update --${{ matrix.stability }}

      - name: Run PHPStan
        run: vendor/bin/phpstan analyze --no-progress --no-interaction

  style:
    name: Style

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_LOWEST }}
          coverage: none

      - name: Get Composer cache directory path
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ hashFiles('composer.lock') }}
          restore-keys: composer-

      - name: PHP-CS-Fixer cache
        uses: actions/cache@v4
        with:
          path: .cache/.php-cs-fixer.cache
          key: php-cs-fixer-${{ github.sha }}
          restore-keys: php-cs-fixer-

      - name: Install Composer dependencies
        run: composer install

      - name: Run PHP-CS-Fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --diff --no-interaction

  integrity:
    name: Integrity

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_LATEST }}
          coverage: none

      - name: Get Composer cache directory path
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ hashFiles('composer.lock') }}
          restore-keys: composer-

      - name: Install Composer dependencies
        run: composer install

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v5

      - name: Install npm dependencies
        run: pnpm install

      - name: Compile rules
        run: |
          php gen currencies
          php gen numbers
          php gen units

      - name: Check for uncommitted changes
        run: git add . && git diff --cached --exit-code
