name: Integrity

on:
  pull_request:
  push:
    branches-ignore: [master]

jobs:
  integrity:
    name: Integrity

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none

      - name: Install Composer dependencies
        run: composer install

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: pnpm

      - name: Install npm dependencies
        run: pnpm install

      - name: Compile rules
        run: |
          php gen currencies
          php gen numbers
          php gen units

      - name: Check for uncommitted changes
        run: git add . && git diff --cached --exit-code
